.title {
    text-align: center;
}

body {
    height: 100vh;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    justify-content: stretch;
    height: 100%;
}

#messages {
    margin: 10px;
    margin-bottom: 0px;
    border: 2px solid black;
    list-style-type: none;
    padding-left: 0;
    flex: auto;
    overflow: auto;
}

#messages > li {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

.message_recived {
    background-color: #7AFFAD;
    text-align: left;
}

.message_sent {
    background-color: #7ACCFF;
    text-align: right;
}

#send_form {
    margin: 10px;
    margin-top: 0px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
}

#send_form #to_send {
    width: 100%;
}
